
  .container {
    font-family: arial;
    font-size: 24px;
    width: 98.5vw;
    height: 97vh;
    /* Setup */
    position: relative;
    /* border: 5px solid red; */
    background-color: #1a1a1a;

  }
  
  .child {
    /* width: 80vw;
    height: 50vh; */
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }

  .text{
    padding: 5%;
    margin: 0;
    /* border: solid black 1px; */
    border-radius: 5px;
    background-color: #2A2A2A;
    color: white;
  }